input {
	outline: none;
}

.login_div_i {
	width: 350px;
	background-color: white;
}

.login_div_smdd {
	height: 50px;
	text-align: center;
	margin: 0 auto;
	font-size: 17px;
	border-bottom: solid 1px #F4F4F4;
}

.Sweep_code_login {
	float: left;
	width: 175px;
	padding-top: 10px;
	border-right: solid 1px #F4F4F4;
}

.font_hover:hover {
	color: orangered;
	font-weight: bold;
}

.Account_entry {
	padding-top: 10px;
}

.External_login_height {
	height: 225px;
}

.External_login_height2 {
	height: 265px;
}

.Input_area {
	border: solid 1px #BDBDBD;
	margin: 30px 22px 0px 22px;
}

.Input_area2 {
	border: solid 1px #BDBDBD;
	margin: 20px 22px 0px 22px;
}

.Input_area_input {
	height: 36px;
	border: none;
	width: 262px;
}

.Forget_password {
	margin: 20px 20px 0px 20px;
	float: right;
	font-size: 12px;
}

.login_button {
	margin: 60px 20px 0px 22px;
	float: none;
}

.other {
	height: 50px;
	background-color: #FCFCFC;
}

.scan_QR_code {
	text-align: center;
	margin: 0 auto;
	padding-top: 20px;
}