.all {
	height: 700px;
}

.head_st {
	height: 82px;
	text-align: center;
	width: 1000px;
	margin: 0 auto;
}

.login_mid_content {
	width: 100%;
	height: 40px;
	text-align: center;
	background-color: #FFF8F0;
}

.login_mid_content_div2 {
	padding-top: 10px;
	font-size: 12px;
}

.login_mi_lo {
	background-color: #0251C8;
	height: 476px;
	width: ;
}

.login_mi_lo_div2 {
	text-align: center;
	margin: 0 auto;
	width: 1000px;
}

.login_mi_lo_div2_chi2 {
	height: 430px;
	padding-top: 20px;
}

.login_foot {
	text-align: center;
}

