<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/jingdong.css" />
		<link rel="stylesheet" type="text/css" href="css/jdong_login.css" />
		<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
		<script src="http://mockjs.com/dist/mock.js"></script>
	</head>

	<body v-on:onload="QR_code()">
		<div class="all">
			<div id="" class="head_st">
				<!--==头部导航信息-->
				<div class="" style="float: left;">
					<img src="img/login/jingdong_logo.jpg" />
				</div>
				<div class="" style="float: right;">
					<img src="img/login/new.jpg" />
				</div>
			</div>
			<!--网络安全法信息-->
			<div class="login_mid_content">
				<div class="login_mid_content_div2">{{msg}}</div>
			</div>
			<!--===中部登录-->
			<div id="" class="login_mi_lo">
				<div id="" style="" class="login_mi_lo_div2">
					<div class="" style="float: left;">
						<img src="img/login/1_login.jpg" />
					</div>
					<div class="login_mi_lo_div2_chi2" style="float: right;">
						<div class="login_div_i" v-show="issho">
							<div id="">
								<img src="img/login/login_head.jpg" />
							</div>
							<div class="login_div_smdd">
								<div class="Sweep_code_login" v-on:click="toggle()">
									<span id="" class="font_hover">
										扫码登录
									</span>
								</div>
								<div class="Account_entry" v-on:click="toggl()">
									<span id="Account" class="font_hover">
										账户登录
									</span>

								</div>

							</div>
							<div class="External_login_height">

								<div class="Input_area">
									<div style="float: left;"><img src="img/login/pe.png" /></div>
									<div id="">
										<input v-model="account" placeholder="邮箱/用户名/已验证手机" / class="Input_area_input">
									</div>
								</div>

								<div class="Input_area2">
									<div style="float: left;"><img src="img/login/unc.png" /></div>
									<div id="">
										<input v-model="pwd" placeholder="密码" / class="Input_area_input">
									</div>
								</div>

								<div class="Forget_password">
									忘记密码
								</div>
								<div class="login_button" id="login" v-on:click="login()">
									<img src="img/login/dl.png" />
								</div>
							</div>
							<div id="" class="other">
								<div id="" style="float: left;">
									<img src="img/login/qq.png" /><img src="img/login/wx.png" />
								</div>
								<div id="" style="float: right;">
									<img src="img/login/ljzc.png" />
								</div>
							</div>
						</div>
						<div v-show="isShow" class="login_div_i">
							<div id="">
								<img src="img/login/login_head.jpg" />
							</div>
							<div class="login_div_smdd">
								<div class="Sweep_code_login" v-on:click="toggle()">
									<span id="Sweep_code" class="font_hover">
										扫码登录
									</span>

								</div>
								<div class="Account_entry" v-on:click="toggl()">
									<span id="" class="font_hover">
										账户登录
									</span>

								</div>

							</div>
							<div class="" class="External_login_height2">
								<div class="scan_QR_code" v-show="ewmshow">
									<img src="img/login/ewm.png" />
								</div>
								<div class="scan_QR_code" v-on:click="ewm2()" v-show="ewmshow2">
									<img src="img/login/ewm_sx.png" />
								</div>
								<div class="">
									<img src="img/login/ewm_inf.png" />
								</div>
							</div>
							<div id="" class="other">
								<div id="" style="float: left;">
									<img src="img/login/qq.png" /><img src="img/login/wx.png" />
								</div>
								<div id="" style="float: right;">
									<img src="img/login/ljzc.png" />
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!--====底部信息-->
			<div class="login_foot" style="text-align: center;">
				<img src="img/login/foot.jpg" />
			</div>
		</div>
		<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
		<script type="text/javascript">
			var vm = new Vue({
				el: '.login_mid_content_div2',
				data: {
					msg: '依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！ 新版《京东隐私政策》已上线，将更有利于保护您的个人隐私。'
				}
			})
            var data2 = Mock.mock({
				'account|aa1-2': 1,
				'pwd|1-2': 1
			});
			var vm2 = new Vue({
				el: '.login_mi_lo_div2_chi2',
				data: {
					isShow: true,
					issho: false,
					ewmshow: true,
					ewmshow2: false,
					account: "",
					pwd: ""
				},
				methods: {
					toggle: function() {
						this.isShow = true;
						this.issho = false;
						$("#Sweep_code").css("color", "orangered")
						$("#Sweep_code").css("font-weight", "bold");
					},
					toggl: function() {
						this.isShow = false;
						this.issho = true;
						$("#Account").css("color", "orangered")
						$("#Account").css("font-weight", "bold");
					},
					ewm: function() {
						this.ewmshow = false;
						this.ewmshow2 = true;

					},
					ewm2: function() {
						this.ewmshow = true;
						this.ewmshow2 = false;
					},
					login: function() {
						if(data2.account == vm2.account && data2.pwd == vm2.pwd) {
							alert("登录成功！")
						} else {
							alert("登录失败~")
						}
					},
					//						post:function(){
					//                      this.$http.post('post.php',{
					//                          a:1,
					//                          b:2
					//                      },{
					//                          emulateJSON:true
					//                      }).then(function(res){
					//                          alert(res.data);
					//                      },function(res){
					//                          alert(res.status);
					//                      });
					//                  }
				}
			});
			$("#Sweep_code").css("color", "orangered");
			$("#Sweep_code").css("font-weight", "bold");
			setTimeout(function() {
				vm2.ewm()
			}, 5000);
		</script>
	</body>

</html>